{% extends 'index.html' %}

{% load static %}

{% block title %}
SENAI - AVISOS
{% endblock %}

{% block body %}

<div class="container" style="width: 1150px;">
  <div style="justify-content: center; align-items: center; margin-top: 580px; position: fixed; font-size: 50px;">
    <a href="http://127.0.0.1:8000/inicio" style="color: rgb(183, 33, 33); ">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </a>
  </div>

  <h1>Mural de Avisos</h1>
  <div class="notice">
    <p class="notice-message">Carregando mensagem...</p>
  </div>
</div>
<script src="script.js"></script>

<style>
  body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    align-items: center;
    min-height: 100vh;
  }


  .container {
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: space-between;
  }

  .logo {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff4747;
}

.notice-message {
    font-size: 1.2em;
    color: #f9f9f9;
}
</style>

{% endblock %}