:root{
    --bg-color: #ffffff;
    --text-color: #000000;

}

[data-theme="dark-theme"] {
    --bg-color: #000000;
    --text-color: #ffffff;
}

.main{
    background-color: var(--bg-color);
    color: var(--text-color)
}

.container{
    background-color: var(--bg-color);
}
